:root {
    --sapTextColor: #000000;

    --sapNeutralBackground: #ffffff;
    --sapInformationBackground: #ffffff;
    --sapSuccessBackground: #ffffff;
    --sapWarningBackground: #ffffff;
    --sapErrorBackground: #ffffff;

    --sapNeutralBorderColor: #000000;
    --sapInformationBorderColor: #000000;
    --sapSuccessBorderColor: #006362;
    --sapWarningBorderColor: #5c5c00;
    --sapErrorBorderColor: #ab0000;
}