@import "./../settings";
@import "./../mixins";
@import "./../functions";
@import "./../icons/mixins";
/*!
.fd-alert+(--information, --success, --warning, --error)
    .fd-alert__close
*/

// alert-component-specific-parameters mapped to SAP-parameters
:root {
  --fs-alert-color: var(--sapTextColor);
  --fs-alert-background-color-default: var(--sapNeutralBackground);
  --fs-alert-background-color-info: var(--sapInformationBackground);
  --fs-alert-background-color-success: var(--sapSuccessBackground);
  --fs-alert-background-color-warning: var(--sapWarningBackground);
  --fs-alert-background-color-error: var(--sapErrorBackground);

  --fs-alert-border-color: var(--sapNeutralBorderColor);
  --fs-alert-border-color-info: var(--sapInformationBorderColor);
  --fs-alert-border-color-success: var(--sapSuccessBorderColor);
  --fs-alert-border-color-warning: var(--sapWarningBorderColor);
  --fs-alert-border-color-error: var(--sapErrorBorderColor);

  --fs-alert-close-button-color: var(--sapBrandColor);
}

$block: #{$fd-namespace}-alert;
.#{$block} {

    //SETTINGS
    $fd-alert-padding-x: fd-space("xxs") !default;
    $fd-alert-padding-y: fd-space("xs") !default;

    // Block
    @include fd-reset();
    position: relative;
    color: var(--fs-alert-color); //color of the text in alert messages
    background-color: var(--fs-alert-background-color-default);
    border-color: var(--fs-alert-border-color);
    border-style: solid;
    border-width: 1px;
    padding: $fd-alert-padding-x $fd-alert-padding-y;
    border-radius: $fd-border-radius;

    //DEPRECATE v1.6 (brute force embedded solution to adopt new styles)
    .sap-icon--message-error, .sap-icon--message-warning, .sap-icon--message-success, .sap-icon--message-information {
      display: none;
    }

    // Elements
    &__close {
      position: absolute;
      right: 0;
      top: 0;
      @include fd-icon("decline", "l");
      @include fd-button-reset();
      color: var(--fs-alert-close-button-color);

      width: fd-space(9);
      height: fd-space(9);
      @include fd-focus();
      @include fd-rtl() {
        left: 0;
        right: auto;
      }
    }

    // Modifiers
    &--dismissible {
      padding-right: fd-space("large");
      @include fd-rtl() {
        padding-right: $fd-alert-padding-x;
        padding-left: fd-space("large");
      }
    }
    &--warning,
    &--information,
    &--success,
    &--error {
      padding-left: fd-space("large");
      @include fd-rtl() {
        padding-right: fd-space("large");
        padding-left: $fd-alert-padding-x;
        &::before {
          display: none; // TODO
        }
      }
      &.#{$block}--dismissible {
        padding-right: fd-space("large");
        @include fd-rtl() {
          padding-left: fd-space("large");
        }
      }
      @include fd-icon-base() {
        position: absolute;
        left: fd-space("small"); // TODO
        top: fd-space("tiny"); // TODO
      }
      @include fd-rtl() {
        @include fd-icon-base("after") {
          position: absolute;
          right: fd-space("small"); // TODO
          top: fd-space("tiny"); // TODO
        }
      }
    }
    &--warning {
      --fs-alert-background-color-default: var(--fs-alert-background-color-warning);
      --fs-alert-border-color: var(--fs-alert-border-color-warning);
      &::before,
      &::after {
        color: var(--fs-alert-border-color-warning);
      }
      --fs-alert-background-color-default: var(--fs-alert-background-color-warning);
      --fs-alert-border-color: var(--fs-alert-border-color-warning);
      @include fd-icon("message-warning", "l");
      @include fd-rtl() {
        @include fd-icon("message-warning", "l", "after");
      }
    }
    &--error {
      --fs-alert-background-color-default: var(--fs-alert-background-color-error);
      --fs-alert-border-color: var(--fs-alert-border-color-error);
      &::before,
      &::after {
        color: var(--fs-alert-border-color-error);
      }
      --fs-alert-background-color-default: var(--fs-alert-background-color-error);
      @include fd-icon("message-error", "l");
      @include fd-rtl() {
        @include fd-icon("message-error", "l", "after");
      }
    }
    &--success {
      --fs-alert-background-color-default: var(--fs-alert-background-color-success);
      --fs-alert-border-color: var(--fs-alert-border-color-success);
      &::before,
      &::after {
        color: var(--fs-alert-border-color-success);
      }
      --fs-alert-background-color-default: var(--fs-alert-background-color-success);
      --fs-alert-border-color: var(--fs-alert-border-color-success);
      @include fd-icon("message-success", "l");
      @include fd-rtl() {
        @include fd-icon("message-success", "l", "after");
      }
    }
    &--information {
      --fs-alert-background-color-default: var(--fs-alert-background-color-info);
      --fs-alert-border-color: var(--fs-alert-border-color-info);
      &::before,
      &::after {
        color: var(--fs-alert-border-color-info);
      }
      --fs-alert-background-color-default: var(--fs-alert-background-color-info);
      --fs-alert-border-color: var(--fs-alert-border-color-info);
      @include fd-icon("message-information", "l");
      @include fd-rtl() {
        @include fd-icon("message-information", "l", "after");
      }
    }
}
